<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="pendientes">
      Pendientes
    </ion-segment-button>
    <ion-segment-button value="completas">
      Completas
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-item *ngFor="let t of tareas">
      <ion-label>
        {{ t.Descripcion }}
      </ion-label>

      <ion-button color="success" size="small" (click)="marcarCompleta(t)" *ngIf="segment === 'pendientes'">
        Completar
      </ion-button>

      <ion-button color="danger" size="small" (click)="delete(t)">
        Eliminar
      </ion-button>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/task-form">
      +
    </ion-fab-button>
  </ion-fab>

</ion-content>
