<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ id ? 'Editar Tarea' : 'Nueva Tarea' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea rows="6" [(ngModel)]="descripcion"></ion-textarea>
  </ion-item>

  <ion-button expand="full" class="ion-margin-top" (click)="guardar()">
    Guardar
  </ion-button>

</ion-content>
